---
layout: layout.njk
title: Step 1
---

<h1 class="govuk-heading-xl">Vyberte právnickú osobu</h1>

<p class="govuk-body">
  Zadaním názvu spoločnosti alebo IČO vyhľadajte spoločnosť pre ktorú chcete
  doplniť rodné čísla zainteresovaných osôb.
</p>

<form
  data-slovensko-digital-autoform-filter="active"
  data-slovensko-digital-autoform="{{ env.API_KEY_AUTOFORM }}"
  action="/step2/choose-statutory"
>
  <fieldset
    class="govuk-fieldset"
    role="group"
    aria-describedby="passport-issued-hint"
  >
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="search">
          Vyhľadaj podľa názvu/IČO spoločnosti
        </label>
      </h1>
      <input class="govuk-input" id="search" type="text" />
      <input id="cin" type="hidden" name="cin" />
    </div>

    <div id="answer" class="govuk-body"></div>

    <input type="hidden" data-slovensko-digital-autoform="cin" />
    <button class="govuk-button" data-module="govuk-button" type="submit">
      Ďalej
    </button>
  </fieldset>
</form>

<ul class="govuk-list govuk-!-font-size-16">
  <li><a href="/step2/autofilled" class="govuk-link">! vsetky udaje ok</a></li>
  <li>
    <a href="/step2/unsupported" class="govuk-link"
      >! ico nepodporovanej formy spolocnosti</a
    >
  </li>
</ul>
<script>
  $(function () {
    jQuery.ui.autocomplete.prototype._resizeMenu = function () {
      var ul = this.menu.element;
      if (this.element.outerWidth() > ul.outerWidth()) {
        ul.outerWidth(this.element.outerWidth());
      }
    };

    var setupAutocomplete = function () {
      setupAutocompleteByAttribute();

      // workaround for incorrect positioning
      $(".ui-autocomplete").css({ top: 0, left: 0 });
    };

    var setupAutocompleteByAttribute = function () {
      $("form[data-slovensko-digital-autoform]").each(function () {
        var form = $(this);

        var limit = form.data("slovensko-digital-autoform-limit");
        var filter = form.data("slovensko-digital-autoform-filter");

        form.find("#search").each(function (index, elm) {
          $(this)
            .autocomplete({
              source: function (request, response) {
                let searchableAttribute;
                if (request.term.length >= 8 && /[0-9]+/.test(request.term)) {
                  searchableAttribute = "cin";
                } else {
                  searchableAttribute = "name";
                }
                $.getJSON(
                  "https://autoform.ekosystem.slovensko.digital/api/corporate_bodies/search",
                  {
                    q: searchableAttribute + ":" + $(elm).val(),
                    access_token: "{{env.API_KEY_AUTOFORM}}",
                    filter: filter,
                    limit: limit,
                  },
                  response
                );
              },
              //ICO required length 8 to send API request (default is 2)
              minLength: 2,
              focus: function (event, ui) {
                return false;
              },
              select: function (event, ui) {
                if (ui.item) {
                  form.find("#cin").val(ui.item.cin);
                  form
                    .find("#answer")
                    .html(
                      `<strong>${ui.item.name}</strong><br/>${ui.item.cin}<br/>${ui.item.formatted_address}`
                    );
                  event.preventDefault();
                }
              },
            })
            .autocomplete("instance")._renderItem = function (ul, item) {
            html = "<strong>" + item.name + "</strong>";
            if (item.formatted_address) {
              html += "<br>" + item.formatted_address;
            }
            var li = $("<li>").append(html).appendTo(ul);

            if (item.terminated_on) {
              li.addClass("terminated");
            }

            return li;
          };
        });
      });
    };

    setupAutocomplete();
  });
</script>
