---
layout: layout.njk
title: Step 0
---

<h1 class="govuk-heading-xl">Doplnenie údajov do ORSR</h1>

<p class="govuk-body">
  Do 30. septembra 2022 majú oprávnené osoby chýbajúce doplniť údaje
</p>
<p class="govuk-body">
  Doplnenie identifikačných údajov do obchodného registra podľa
  <a
    href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2003/530/#paragraf-15g.odsek-10"
    target="_blank"
    >530/2003 Z.z. § 15g ods. 10</a
  >
</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Ako presne znie povinnosť?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>(pre Spoločnosť s ručením obmedzeným)</p>
    <p>
      „Fyzické osoby oprávnené konať v mene zapísanej právnickej osoby sú
      povinné v návrhu na zápis doplniť iný identifikačný údaj, ak rodné číslo
      nie je v SR pridelené pri štatutárnom orgáne alebo pri členovi
      štatutárneho orgánu, vedúcom organizačnej zložky podniku, prokuristovi,
      členovi dozornej rady a pri likvidátorovi alebo správcovi na výkon nútenej
      správy. V časti týkajúcej sa spoločníkov sú povinné doplniť v prípade
      fyzických osôb dátumy narodenia a rodné čísla alebo iné identifikačné
      údaje, ak rodné čísla nie sú v SR pridelené a v prípade právnických osôb
      identifikačné čísla, ak sú pridelené. Ak bolo k obchodnému podielu
      spoločníka zriadené záložné práva, je potrebné doplniť údaj o jeho
      zriadení, meno, priezvisko, dátum narodenia fyzickej osoby alebo obchodné
      meno, sídlo a identifikačné číslo, ak je pridelené, právnickej osoby,
      ktorá sa zapisuje do obchodného registra ako záložný veriteľ k obchodnému
      podielu, a označenie záložnej zmluvy.“
    </p>
    podľa
    <a
      href="https://www.justice.gov.sk/sluzby/obchodny-register/zmeny-k-1-10-2020/doplnenie-identifikacnych-udajov-pre-jednotlive-pravne-formy/"
      target="_blank"
      >stránky ministerstva spravodlivosti</a
    >
  </div>
</details>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Upozornenie</span>
    V tomto momente máme podporu iba spoločnosti s ručením obmedzeným.
  </strong>
</div>

<a
  href="/step1/"
  role="button"
  draggable="false"
  class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
  data-module="govuk-button"
>
  Začať
  <svg
    class="govuk-button__start-icon"
    xmlns="http://www.w3.org/2000/svg"
    width="17.5"
    height="19"
    viewBox="0 0 33 40"
    role="presentation"
    focusable="false"
  >
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg
></a>
