---
layout: layout.njk
title: Step 2 autofilled
---

<h1 class="govuk-heading-xl">Stav zápisu v ORSR</h1>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">Všetko v poriadku</h1>
  {#
  <div class="govuk-panel__body">
    Your reference number<br /><strong>HDJ2123F</strong>
  </div>
  #}
</div>

<p class="govuk-body">
  Podľa
  <a href="https://orsr.sk/vypis.asp?ID=570021&SID=2&P=0"
    >Obchodného registra Slovenskej republiky</a
  >
  majú všetky osoby zapísané všetky požadované identifikačné údaje.
</p>
