---
layout: layout.njk
title: Step 2 unsupported
---

<h1 class="govuk-heading-xl">Nepodporovaná forma právnicke osoby</h1>
<p class="govuk-body">
  Naneštatie nemáme podporu pre tento druh právnickej osoby.
</p>
